.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 3px;
    margin: 20px 0;

    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 7px;
        padding: 10px 20px 0 20px;
        width: 22%;
        min-width: 150px;
        margin-bottom: 10px;
        color: rgb(245, 243, 243);

      p:first-of-type{
        font-weight: 400;
        font-size: 1.2rem;
      }
      p:last-of-type{
        font-weight: 500;
        font-size: 1.4rem;
      }
    }
}

.box {
    border: 1px solid rgb(173, 173, 173);
    margin: 20px;
}

.heading {
    background-color: rgb(243, 243, 243);
    border-bottom: 1px solid rgb(173, 173, 173);
    padding: 0 10px;

    p {
        height: 10px;
    }
}

.heading2{
    border-bottom: 1px solid rgb(173, 173, 173);
    padding: 10px;
    background-color: rgb(149, 209, 149);

    p{
        height: 10px;
        font-weight: 600;
    }
}
.inputs {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 10px;

    .goto {
        display: inline-block;
        margin-left: 20px;
    }

    input,
    select {
        padding: 5px;
        margin-left: 2px;
    }

    button {
        padding: 5px 10px;
        border: none;
        background-color: rgb(236, 236, 236);
        color: rgb(0, 0, 0);
    }
}

.submit {
    border-top: 1px solid rgb(173, 173, 173);
    padding: 10px;
    display: flex;
    justify-content: flex-end;

    button {
        padding: 5px 10px;
        border: none;
        background-color: rgb(39, 129, 231);
        color: white;
    }
}

.row-inputs {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;

    input {
        width: 50%;
        max-width: 235px;
        
        &[type=checkbox]{
            width: 16px;
            height: 16px;
            margin: 0 5px;
        }
    }
}

.more-inputs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    background: #cde0c4;
    padding: 10px;

    input {
        padding: 4px 2px;
        font-size: 13px;
    }
}

.w50 {
    width: 80px;
}

.basic-single {
    max-width: 505px !important;
    min-width: 220px;

    >div {
        border-radius: 0px !important;
    }
}

.buttons {
    padding: 10px 0 0 10px;
    background-color: #eaebf1;

    button {
        border: 0cap;
        padding: 5px 10px;
        border-top: 0px;
        margin-left: 5px;
    }
}

.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
    margin: 50px auto ;
}

.inputs th{
    font-weight: 500;
    letter-spacing: -1px;
}