.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 10px;

  .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    padding: 15px 20px;
    width: 23%;
    min-width: 180px;
    margin: 0 3px 15px;
    color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
  }

  .card:hover {
    transform: translateY(-5px);
  }

  .card-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 50%;
  }

  .card-content {
    text-align: right;
  }

  .card-heading {
    font-weight: 400;
    font-size: 1.2rem;
  }

  .card-value {
    font-weight: 600;
    font-size: 1.5rem;
  }
}

.box {
  border: 1px solid rgb(173, 173, 173);
  width: 95%;
  margin: 20px;
  background-color: #fff;
}

.heading {
  background-color: rgb(107, 107, 107);
  color: #ffffff;
  border-bottom: 1px solid rgb(173, 173, 173);
  padding: 0 10px;

  p {
    height: 10px;
  }
}

.heading2 {
  border-bottom: 1px solid rgb(173, 173, 173);
  padding: 10px;
  background-color: rgb(87, 90, 87);
  color: #ffffff;

  p {
    height: 10px;
    font-weight: 600;
  }
}
.inputs {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10px 10px 10px;

  .goto {
    display: inline-block;
    margin-left: 20px;
  }

  input {
    height: 25px;
  }

  select {
    padding: 5px;
    margin-left: 2px;
  }

  button {
    padding: 5px 10px;
    border: none;
    background-color: rgb(236, 236, 236);
    color: rgb(0, 0, 0);
  }
  span {
    margin: 8px 5px 0 5px;
  }
}

button:disabled {
  cursor: not-allowed;
}

.submit {
  border-top: 1px solid rgb(173, 173, 173);
  padding: 10px;
  display: flex;
  justify-content: flex-end;

  button {
    padding: 5px 10px;
    border: none;
    background-color: rgb(77, 77, 77);
    color: white;
  }
}

.row-inputs {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;

  input {
    width: 50%;
    max-width: 235px;

    &[type="checkbox"] {
      width: 16px;
      height: 16px;
      margin: 0 5px;
    }
  }
}

.more-inputs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  background: #d6d5d5;
  padding: 10px;

  input {
    padding: 4px 2px;
    font-size: 13px;
  }
}

.w50 {
  width: 80px;
}

.basic-single {
  width: 45%;
  max-width: 235px;
  min-width: 160px;

  > div {
    border-radius: 5px;
    margin: 0%;
    padding: 0 10px;
    background-color: #f2f2f3;
  }
}

.custom-select__menu {
  background-color: transparent;
  border-radius: 0;
  border: none !important;
  padding: 0% !important;

  > div {
    background-color: #f2f2f3 !important;

    > div {
      padding: 10px;
      &:hover {
        background-color: #535353 !important;
        color: rgb(218, 216, 216) !important;
      }
    }
  }
}

.custom-select__option--is-selected {
  background-color: #535353 !important;
  color: rgb(218, 216, 216) !important;
}

.buttons {
  padding: 10px 0 0 10px;
  background-color: #c0c0c0;

  button {
    padding: 5px 10px;
    color: black;
    border-radius: 4px 4px 0 0;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
  margin: 50px auto;
}

.editableInput {
  padding: 0 5px;
  border-radius: 2px;
  background-color: #ffffff;
  max-width: 110px;
}
.inputs th {
  font-weight: 500;
  letter-spacing: -1px;
}
