.container{
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    overflow: hidden;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    .card{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 15px;
        padding: 0 20px;
        width: 25%;
        min-width: 180px;
        min-height: 130px;
    
        h1{
            height: 20px;
        }
        h2{
            height: 10px;
        }
    }
}
.box{
    border: 1px solid rgb(173, 173, 173);
}
.heading{
    background-color: rgb(243, 243, 243);
    border-bottom: 1px solid rgb(173, 173, 173);
    padding: 0 10px;

    p{
        height: 10px;
    }
}
.inputs{
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.submit{
    border-top: 1px solid rgb(173, 173, 173);
    padding:10px;
    display: flex;
    justify-content: flex-end;
    button{
        padding: 5px 10px;
        border: none;
        background-color: rgb(39, 129, 231);
        color: white;
    }
}
.row-inputs{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;

    input{
        width: 50%;
        max-width: 235px;
    }
}