:root{
  font-size: 14px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body{
  padding: 0%;
  margin: 0%;
}
svg{
  cursor: pointer;
  font-size: 1.3rem;
  margin: 0 5px;
  transform: translateY(-2px);
}
input{
    padding: 10px;   
    outline: none;
    border: 1px solid rgb(189, 187, 187);
    max-width: 505px;
}
select{
  padding: 5px;
  outline: none;
  color: #000;
  background-color: #fff;
  min-width: 150px;
  max-width: 525px;
  border: 1px solid rgb(189, 187, 187);
}
textarea{
  max-width: 520px;
  outline: none;
  font-size: 1rem;
}
.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.h-auto{
  height: auto !important;
  transition: all 0.5s;
}
.p5{
  padding: 0 8px;
}
.app-container {
  display: flex;
  flex-direction: column;
}

.burger-btn {
  font-size: 20px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

.main-container {
  display: flex;
  flex: 1;
}

.sidebar-hidden .sideBar {
  width: 0;
  padding: 0;
}

.content {
  flex: 1;
  /* padding: 20px; */
  overflow-y: auto;
  transition: margin-left 0.3s;
}

.sidebar-visible .content {
  margin-left: 0px;
}

.sidebar-hidden .content {
  margin-left: -200;
}

@media screen and (max-width: 875px) {
  .card{
    width: 45% !important;
  }
  .sideBar{
    position: fixed;
    top: 0;
    overflow-y: scroll;
    max-height: 100vh;
    z-index: 10;

  }
  .sideBar::-webkit-scrollbar{
    display: none;
  }
}