:root{
  font-size: 14px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  padding: 0%;
  margin: 10px 0 0 0;
  background-color: #d6d5da;
}

input{
    padding: 5px 10px;   
    max-width: 300px;
    border: none;
    background-color: #f2f2f3;
    outline: none;
    height: 38px;
    border-radius: 5px;
}
select{
  width: 45%;
  max-width: 235px;
  min-width: 100px;
  padding: 8px;
  border-radius: 5px;
  color: #000;
  background-color: #f2f2f3;
  border: none;
  outline: none;
}
textarea{
  max-width: 500px;
  padding: 10px;
  font-size: 1rem;
  background-color: #f2f2f3;
  outline: none;
  border: none;
}
.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.h-auto{
  height: auto !important;
  transition: all 0.5s;
}
.p5{
  padding: 0 8px;
}
.app-container {
  display: flex;
  flex-direction: column;
}

.table-responsive{
  margin: 20px;
}
.burger-btn {
  font-size: 20px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

.main-container {
  display: flex;
  flex: 1;
}

.content {
  flex: 1;
  /* padding: 20px; */
  overflow-y: auto;
  transition: margin-left 0.3s;
}

@media screen and (max-width: 800px) {
  .card{
    width: 45% !important;
  }
  .sideBar{
    top: 10px;
    overflow-y: scroll;
    min-height: 97dvh;
    z-index: 10;
  }
  .sideBar::-webkit-scrollbar{
    display: none;
  }
}